.container {
    position: relative;

}

@keyframes zenBounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-5px);
    }
}

.title {
    color: #3A364C;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-items: flex-start;
    position: absolute;
    gap: 72px;
    left: 126px;
    top: 110px;
    animation: zenBounce 4s infinite ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.createtitle {
    color: #3A364C;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-items: flex-start;
    position: absolute;
    gap: 72px;
    left: 126px;
    top: 200px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.nameInput{
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: absolute;
    left: 126px;
    top: 290px;

}

.phoneInput {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: absolute;
    left: 126px;
    top: 350px;
}

.passwordInput {
    width: 350px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    position: absolute;
    left: 126px;
    top: 410px;
}


.loginButton {
    padding: 10px 30px; 
    background-color: #DFDCEF; 
    color: #3A364C;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 6px; 
    cursor: pointer;
    font-size: 16px; 
    margin-top: 20px; 
    transition: background-color 0.3s ease; 
    position: absolute;
    top: 480px;
    left: 126px;
}

.loginButton:hover {
    background-color: #847BAA;
    color: #DFDCEF; 
}