@import 'react-calendar/dist/Calendar.css';

.pawndr {
    color: var(--dark-3, #3C4356);
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: absolute;
    top: 61px;
    left: 150px;
}

.wrapper {
    width: calc(100% - 340px); /* Adjust the width as needed */
    /* Other existing styles */
}

.react-calendar {
  .wrapper {
    width: calc(100% - 340px); /* Adjust the width as needed */
    /* Other existing styles */
  }
  
.sayhello {
    position: absolute;
    top: 61px;
    right: 90px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color: transparent;
    color: #DFDCEF;
}

.journalentries {
    background-color: #fff; /* White background color */
    width: 70%; /* Set a percentage value for responsiveness */
    min-width: 200px; /* Set a minimum width for shorter text */
    border-radius: 10px; /* Adjust the border-radius for rounded corners */
    padding: 10px; /* Optional: Add padding for content spacing */
    position: relative; /* Ensure proper positioning */
    z-index: 1; /* Set a z-index value higher than the default (e.g., 1) */
  }

.journalentries {
    background-color: #fff; /* White background color */
    width: 45%;
    min-width: 200px;
    min-height: 500px;
    position: relative;
    top: 150px;
    left: 150px;
    border-radius: 10px; /* Adjust the border-radius for rounded corners */
    padding: 10px; /* Optional: Add padding for content spacing */
    z-index: 1;
}

@keyframes tilt {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(5deg); 
    }
    100% {
      transform: rotate(0deg);
    }
  }

.cat {
    position: absolute;
    top: 110px;
    left: 120px;
    animation: tilt 3s infinite;
    z-index: 2;
}

.plant {
    position: absolute;
    top: 500px;
    left: 770px;
    animation: tilt 3s infinite;
    z-index: 2;
}

.journal {
    font-family: Inter;
    white-space: pre-wrap;
    display: block;
}

.underlined {
    text-decoration: underline;
}

.wrapper {
    width: calc(100% - 340px); 
}
