.container {
    position: relative;

}

@keyframes zenBounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

.title {
    color: #3A364C;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-items: flex-start;
    position: absolute;
    gap: 72px;
    left: 126px;
    top: 110px;
    animation: zenBounce 4s infinite ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .logintitle {
    color: #3A364C;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-items: flex-start;
    position: absolute;
    gap: 72px;
    left: 126px;
    top: 200px;
  }